.mask {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.into-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out; /* Smooth transition for zoom effect */
}

.mask::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
}

.hero {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Hide overflowing content */
}

.hero .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.hero .content p {
    font-size: 1.4rem;
    font-weight: 300;
}

.hero .content h1 {
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
    margin: 0;
}

.content .btn {
    margin: 1rem 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    display: inline-block;
}

.content .btn:hover {
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 640px) {
    .hero .content h1 {
        font-size: 3rem;
    }

    .hero .content p {
        font-size: 1.2rem;
    }
}
