.scroll-transition {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 0.5s ease;
  }
  
  .scroll-transition.show {
    opacity: 1;
    transform: translateY(0);
  }