*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "outfit", sans-serif;
}
body
{
  background-color: black;
}
h1,h4,p,a{
  color: white;
  text-decoration: none;
}
ul{
  list-style-type: none;

}
.btn
{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: aqua;
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}
.btn-light
{
  background: transparent;
  color: #fff;
}
.btn:hover
{
  background: rgba(255,255,255,0.2);
  color: #fff;
  transition: 0.3s;
}

/* globalStyles.css */

/* ... your existing styles ... */

.scroll-transition {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.scroll-transition.show {
  opacity: 1;
  transform: translateY(0);
}
